### 1. 대륙별 평균 wine_serving 탐색

In [1]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = '../data/drinks.csv'
drinks = pd.read_csv(file_path) 
drinks['continent'] = drinks['continent'].fillna('OT')

#drinks_continent = drinks.groupby('continent').spirit_servings.agg(['mean'])
#drinks_continent.head()
drinks_continent = drinks.groupby('continent')['wine_servings'].mean()
print(drinks_continent)

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
OT     24.521739
SA     62.416667
Name: wine_servings, dtype: float64

### 2.국가별 모든 servings의 합을 게산한 total_servings 라는 피처 생성

In [2]:
drinks['total_servings'] = drinks['beer_servings'] + drinks['wine_servings'] + drinks['spirit_servings']
#drinks
drinks[['country', 'beer_servings', 'wine_servings', 'spirit_servings', 'total_servings']].sample(5).head()

,country,beer_servings,wine_servings,spirit_servings,total_servings
74,Honduras,69,2,98,169
63,Gambia,8,1,0,9
54,El Salvador,52,2,69,123
80,Iraq,9,0,3,12
190,Yemen,6,0,0,6

### #3

In [3]:
total_mean = drinks.total_litres_of_pure_alcohol.mean()
continent_mean = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
continent_under_mean = continent_mean[continent_mean <= total_mean]
print(continent_under_mean)

continent
AF    3.007547
AS    2.170455
OC    3.381250
Name: total_litres_of_pure_alcohol, dtype: float64

### 3. 전체 평균보다 적은 알코올을 섭취하는 대륙 중, spirit를 가장 많이 마시는 국가 찾기

In [4]:
#spirit_continent = drinks.groupby('continent').spirit_servings.mean().idxmax()
#print(spirit_continent)
total_mean = drinks.total_litres_of_pure_alcohol.mean()
continent_mean = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
continent_under_mean = continent_mean[continent_mean <= total_mean].index.tolist()

df_continent_under_mean = drinks.loc[drinks.continent.isin(continent_under_mean)]
most_spirit_under_mean = df_continent_under_mean.loc[df_continent_under_mean['spirit_servings'].idxmax()]
most_spirit_under_mean['country']

'Russian Federation'