In [1]:
# -*- coding: utf-8 -*-

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model

import warnings
warnings.filterwarnings("ignore")

# Data Source : http://lib.stat.cmu.edu/datasets/boston_corrected.txt

file_path = '../data/BostonHousing2.csv'
housing = pd.read_csv(file_path)
housing = housing.rename(columns={'CMEDV': 'y'})
housing.head()

,TOWN,LON,LAT,y,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,-70.955,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,-70.950,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,-70.936,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,-70.928,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,-70.922,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

### 1. BostonHousing 데이터셋으로 회귀 분석을 수행하기 위한 데이터셋 분리

In [2]:
# 학습 데이터셋과 테스트 데이터셋 데이터 생성

# X = housing[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX','RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]
X = housing[housing.columns.difference(['y','TOWN'])]
y = housing['y']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=19)

### 2. 분리한 데이터셋으로 회귀 분석 수행

In [3]:
# 모델 학습
lr = linear_model.LinearRegression()
model = lr.fit(X_train, y_train)

### 3. 학습 완료된 모델의 R2 score 평가

In [4]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7615416564328983
0.672624809514583

### 4. 회귀 모델의 피처의 계수 출력

In [5]:
print(lr.coef_)

[-1.38674963e-02  8.90778259e-03  3.51482846e+00 -1.13349243e-01
 -1.50203741e+00 -7.91103115e-03  5.52575416e+00 -1.69583496e+00
 -4.30983071e-01 -1.56871158e+01 -8.60747056e-01  2.77333124e-01
  3.70398852e+00 -1.15938411e-02  5.85350342e-02]